{% extends "base.html" %}

{% block title %}

{% endblock title %}



{% block style %}




<style>
    .image {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .text {
        padding: 5px 15px;
        font-family: cursive;
    }

    .buynow {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(243, 92, 92);
        padding: 10px 0px;
        
    }
    .left{
        position: sticky;
        top: 10%;
        height: fit-content;

    }
    @media only screen and (max-width: 500px){
        .buynow{
            position: fixed;
            bottom: 0px;
            width: 95%;
        }
        .left{
            position: relative;
        }
    }
</style>

{% endblock style %}



{% block body %}




<div class="row" style="max-width: 1000px; margin: auto; ">

    <div class="right col-sm-12 col-md-6 d-flex"
        style="justify-content: center; align-items: center; flex-direction: column; margin: 10px auto;">
        <div class="address_head rounded"
            style="border:1px solid lightgray; width: 100%; display: flex; flex-direction: column; justify-content: flex-start; align-items: center; padding: 10px;">
            <div class="heading">
                <p class="display-7" style="color: green; font-weight: 500;">Check Your Address For Delivery</p>
                <form action="#" class="d-flex">
                    <input type="number" maxlength="4" minlength="4" class="form-control" style="margin-right:5px;"
                        placeholder="Enter Pin code">
                    <button type="submit" class="btn btn-outline-success" style="color: green;">Check</button>
                </form>
            </div>

        </div>

        <div class="total_head d-flex my-2"
            style="justify-content: space-between; align-items: center; width: 100%; border-bottom: 2px solid rgb(243, 92, 92);  padding: 5px 0px;">
            <span class="display-7" style=" font-weight: 500;">Your Cart Having : 1 Item</span>
            <div class="btn-group">
                <button class="btn btn-outline-danger">Clear All</button>

            </div>

        </div>


        <div class="item_cart" style="width: 100%;">
            <div class="item row rounded my-3"
                style="width: 100%; box-shadow: 4px 4px 4px lightgray, -4px 4px 4px lightgray; max-height: 200px; margin: 0px;">
                {% load static %}
                <div class="image col-4" style="max-height: 200px;">
                    <img src="{% static 'images/t_shirts.jpg' %}" alt="" class="img-fluid">
                </div>
                <div class="desc col-8">
                    <div class="cancle_btn d-flex" style="align-items: center; justify-content: flex-end;">
                        <a><i class="fa fa-times" style="color:rgb(243, 92, 92) ;"></i></a>
                    </div>
                    <div class="text">
                        <span>LEVIS</span><br>
                        <span class="my-1">skinny-jeans mens </span><br>
                        <div class="select d-flex">
                            <div class="" style="width: 100%; margin: 0px 0px 3px 0px ;">
                                <label for="Size">Size:</label>
                                <select name="size" id="1" style="outline: none; border: none;">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                </select>
                            </div>
                            <div class="" style="width: 100%; margin: 0px 0px 3px 0px ;">
                                <button class="btn"
                                    style="border: 1px solid rgb(243, 92, 92) ; color: rgb(243, 92, 92); padding: 0px 10px;">-</button>
                                <span class="display-8">1</span>
                                <button class="btn "
                                    style="border: 1px solid rgb(243, 92, 92) ; color: rgb(243, 92, 92); padding: 0px 10px;">+</button>
                            </div>
                        </div>
                        <div class="price" style="font-weight: bolder;">
                            <span>$</span> <span>778</span> <span class="mx-1"
                                style="font-weight: lighter; color: gray;"><del>$
                                    1000</del></span>
                            <span style="color: green;">30% off</span>
                        </div>

                    </div>
                    <div style="position: relative; bottom: -15%;">
                        <i class="fa fa-check" style="color: green;"></i>
                        <span>deliver within <b>1</b> week</span>
                    </div>
                </div>
            </div>
            <div class="item row rounded my-3"
                style="width: 100%; box-shadow: 4px 4px 4px lightgray, -4px 4px 4px lightgray; max-height: 200px; margin: 0px;">
                {% load static %}
                <div class="image col-4" style="max-height: 200px;">
                    <img src="{% static 'images/denim.jpg' %}" alt="" class="img-fluid">
                </div>
                <div class="desc col-8">
                    <div class="cancle_btn d-flex" style="align-items: center; justify-content: flex-end;">
                        <a><i class="fa fa-times" style="color:rgb(243, 92, 92) ;"></i></a>
                    </div>
                    <div class="text">
                        <span>LEVIS</span><br>
                        <span class="my-1">skinny-jeans mens </span><br>
                        <div class="select d-flex">
                            <div class="" style="width: 100%; margin: 0px 0px 3px 0px ;">
                                <label for="Size">Size:</label>
                                <select name="size" id="1" style="outline: none; border: none;">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                </select>
                            </div>
                            <div class="" style="width: 100%; margin: 0px 0px 3px 0px ;">
                                <button class="btn"
                                    style="border: 1px solid rgb(243, 92, 92) ; color: rgb(243, 92, 92); padding: 0px 10px;">-</button>
                                <span class="display-8">1</span>
                                <button class="btn "
                                    style="border: 1px solid rgb(243, 92, 92) ; color: rgb(243, 92, 92); padding: 0px 10px;">+</button>
                            </div>
                        </div>
                        <div class="price" style="font-weight: bolder;">
                            <span>$</span> <span>778</span> <span class="mx-1"
                                style="font-weight: lighter; color: gray;"><del>$
                                    1000</del></span>
                            <span style="color: green;">30% off</span>
                        </div>

                    </div>
                    <div style="position: relative; bottom: -15%;">
                        <i class="fa fa-check" style="color: green;"></i>
                        <span>deliver within <b>1</b> week</span>
                    </div>
                </div>
            </div>
            <div class="item row rounded my-3"
                style="width: 100%; box-shadow: 4px 4px 4px lightgray, -4px 4px 4px lightgray; max-height: 200px; margin: 0px;">
                {% load static %}
                <div class="image col-4" style="max-height: 200px;">
                    <img src="{% static 'images/sunglass_2.jpg' %}" alt="" class="img-fluid">
                </div>
                <div class="desc col-8">
                    <div class="cancle_btn d-flex" style="align-items: center; justify-content: flex-end;">
                        <a><i class="fa fa-times" style="color:rgb(243, 92, 92) ;"></i></a>
                    </div>
                    <div class="text">
                        <span>LEVIS</span><br>
                        <span class="my-1">skinny-jeans mens </span><br>
                        <div class="select d-flex">
                            <div class="" style="width: 100%; margin: 0px 0px 3px 0px ;">
                                <label for="Size">Size:</label>
                                <select name="size" id="1" style="outline: none; border: none;">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                </select>
                            </div>
                            <div class="" style="width: 100%; margin: 0px 0px 3px 0px ;">
                                <button class="btn"
                                    style="border: 1px solid rgb(243, 92, 92) ; color: rgb(243, 92, 92); padding: 0px 10px;">-</button>
                                <span class="display-8">1</span>
                                <button class="btn "
                                    style="border: 1px solid rgb(243, 92, 92) ; color: rgb(243, 92, 92); padding: 0px 10px;">+</button>
                            </div>
                        </div>
                        <div class="price" style="font-weight: bolder;">
                            <span>$</span> <span>778</span> <span class="mx-1"
                                style="font-weight: lighter; color: gray;"><del>$
                                    1000</del></span>
                            <span style="color: green;">30% off</span>
                        </div>

                    </div>
                    <div style="position: relative; bottom: -15%;">
                        <i class="fa fa-check" style="color: green;"></i>
                        <span>deliver within <b>1</b> week</span>
                    </div>
                </div>
            </div>
            <div class="item row rounded my-3"
                style="width: 100%; box-shadow: 4px 4px 4px lightgray, -4px 4px 4px lightgray; max-height: 200px; margin: 0px;">
                {% load static %}
                <div class="image col-4" style="max-height: 200px;">
                    <img src="{% static 'images/t_shirts.jpg' %}" alt="" class="img-fluid">
                </div>
                <div class="desc col-8">
                    <div class="cancle_btn d-flex" style="align-items: center; justify-content: flex-end;">
                        <a><i class="fa fa-times" style="color:rgb(243, 92, 92) ;"></i></a>
                    </div>
                    <div class="text">
                        <span>LEVIS</span><br>
                        <span class="my-1">skinny-jeans mens </span><br>
                        <div class="select d-flex">
                            <div class="" style="width: 100%; margin: 0px 0px 3px 0px ;">
                                <label for="Size">Size:</label>
                                <select name="size" id="1" style="outline: none; border: none;">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                </select>
                            </div>
                            <div class="" style="width: 100%; margin: 0px 0px 3px 0px ;">
                                <button class="btn"
                                    style="border: 1px solid rgb(243, 92, 92) ; color: rgb(243, 92, 92); padding: 0px 10px;">-</button>
                                <span class="display-8">1</span>
                                <button class="btn "
                                    style="border: 1px solid rgb(243, 92, 92) ; color: rgb(243, 92, 92); padding: 0px 10px;">+</button>
                            </div>
                        </div>
                        <div class="price" style="font-weight: bolder;">
                            <span>$</span> <span>778</span> <span class="mx-1"
                                style="font-weight: lighter; color: gray;"><del>$
                                    1000</del></span>
                            <span style="color: green;">30% off</span>
                        </div>

                    </div>
                    <div style="position: relative; bottom: -15%;">
                        <i class="fa fa-check" style="color: green;"></i>
                        <span>deliver within <b>1</b> week</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="left col-12 col-md-6 my-5">
        <div class="sub_bill rounded"
            style="border: 2px solid rgb(243, 92, 92); box-shadow: 4px 4px 4px lightgray, -4px 4px 4px lightgray; margin: 10px auto; padding: 20px; width: 100%;">
            <div class="labels" style="display: flex; justify-content: space-between; align-items: center;">
                <label for="total" style="">Total Ammount: </label>
                <div class="amm"
                    style="display: flex; align-items: center; justify-content: flex-start; min-width: 100px;">
                    $1000
                </div>
            </div>
            <div class="labels" style="display: flex; justify-content: space-between; align-items: center;">
                <label for="discount" style="">Total Discount: </label>
                <div class="amm"
                    style="display: flex; align-items: center; justify-content: flex-start; min-width: 100px;">
                    $100
                </div>
            </div>
            <div class="labels" style="display: flex; justify-content: space-between; align-items: center;">
                <label for="delivery" style="">Delivery Charges: </label>
                <div class="amm"
                    style="display: flex; align-items: center; justify-content: flex-start; min-width: 100px;">
                    $10
                </div>
            </div>
            <div class="pay_ammount my-2 py-1" style="border-top: 3px solid green;">
                <div class="labels" style="display: flex; justify-content: space-between; align-items: center;">
                    <label for="delivery" style="">total Payable Ammount: </label>
                    <div class="amm rounded "
                        style="display: flex; align-items: center; justify-content: center; min-width: 100px; border: 2px solid rgb(243, 92, 92); color: rgb(243, 92, 92) ;">
                        $910
                    </div>
                </div>
            </div>
        </div>

        <div class="buynow " style=" margin: 0px;">
            <button class="btn " style="border: 1px solid white ; color: white; padding: 0px 10px;">PLACE ORDER</button>
        </div>
    </div>
</div>


{% endblock body %}



{% block js %}

{% endblock js %}