{% extends "base.html" %}

{% block title %}

{% endblock title %}

{% block style %}

<style>
    .image {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .text {
        padding: 5px 15px;
        font-family: cursive;
    }

    .check_filter {
        align-items: flex-start;
        padding: 0px 30px;

    }

    .filter_sidebar {
        width: 280px;
        position: sticky;
        top: 60px;
        display: flex;
    }

    @media only screen and (max-width:500px) {
        .filter_sidebar {
            position: fixed;
            height: 100%;
            width: 100%;
            display: none;
            overflow-y: scroll;
            z-index: 10;
        }
    }
</style>


{% endblock style %}


{% block body %}
<div class="d-flex">
    <div class="flex-column bg-light filter_sidebar" id="filter_sidebar" >
<div class="" style="max-width: 280px; margin: auto; overflow-y: scroll; position: relative;">
        <div class="" style="
    padding: 5px;
    margin: 10px;
    border: 1px solid;
">
            <span style="
    color: gray;
">SORT : </span>
            <select name="sort" id="sort" style="
    border: none;
">
                <option value="recomamded">Recomamded</option>
                <option value="low-high">Price Range Low To High</option>
                <option value="low-high">Price Range High To low </option>
                <option value="low-high">What's New</option>
                <option value="low-high">Popularity</option>
            </select>
        </div>
        <div class="d-flex justify-content-between" style="
    align-items: center;
    padding: 10px;
">
            <span class="title" style="font-weight: bold;">FILTER</span>
            <div class="actions_fil" style="
    display: flex;
    font-size: small;
    align-items: baseline;
">
                <a href="" style="
    color: #ff4343;
    font-weight: bold;
">Clear All</a>
                <button class="btn btn-primary" style="
    font-size: small;
    padding: 5px 10px;
    margin: 0px 5px;
">Apply Filter</button>
            </div>

        </div>
        <hr>
        <div class="filter_action">
            <ul class="nav nav-pills flex-column mb-auto px-2">
                <a href="" class="nav-link active"> <i class="fa fa-tags"></i> Category</a>
                <ul class="nav flex-column mb-auto check_filter">
                    <li class="nav-item my-1">
                        <input type="checkbox" id="below5001" name="below-5001">
                        <label for="below5001">Shorts</label><br>
                    </li>
                    <li class="nav-item my-1">
                        <input type="checkbox" id="below5002" name="below-5002">
                        <label for="below5002">Jeans</label><br>
                    </li>
                    <li class="nav-item my-1">
                        <input type="checkbox" id="below5003" name="below-5003">
                        <label for="below5003">Shirts</label><br>
                    </li>
                    <li class="nav-item my-1">
                        <input type="checkbox" id="below5004" name="below-5004">
                        <label for="below5004">T-Shirts</label><br>
                    </li>
                    <li class="nav-item my-1">
                        <input type="checkbox" id="below5005" name="below-5005">
                        <label for="below5005">Sweatshirt</label><br>
                    </li>
                    <li class="nav-item my-1">
                        <input type="checkbox" id="below5006" name="below-5006">
                        <label for="below5006">Hoddie</label><br>
                    </li>

                </ul>
            </ul>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto px-2">
                <a href="" class="nav-link active"> <i class="fa fa-tags"></i> Price</a>
                <ul class="nav flex-column mb-auto check_filter">
                    <li class="nav-item my-1">
                        <input type="checkbox" id="below500" name="below-500">
                        <label for="below500">Below 500</label><br>
                    </li>
                    <li class="nav-item my-1">
                        <input type="checkbox" id="below500" name="below-500">
                        <label for="below500">Price Range 500-1000</label><br>
                    </li>
                    <li class="nav-item my-1">
                        <input type="checkbox" id="below500" name="below-500">
                        <label for="below500">Price Range 1000-1500</label><br>
                    </li>
                    <li class="nav-item my-1">
                        <input type="checkbox" id="below500" name="below-500">
                        <label for="below500">Price Range 1500-2000</label><br>
                    </li>
                    <li class="nav-item my-1">
                        <input type="checkbox" id="below500" name="below-500">
                        <label for="below500">Price Range 2000-3000</label><br>
                    </li>
                    <li class="nav-item my-1">
                        <input type="checkbox" id="below500" name="below-500">
                        <label for="below500">Above 3000</label><br>
                    </li>

                </ul>
            </ul>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto px-2">
                <a href="" class="nav-link active"> <i class="fa fa-tags"></i> Brands </a>
                <ul class="nav flex-column mb-auto check_filter">
                    <li class="nav-item my-1">
                        <input type="checkbox" id="below500" name="below-500">
                        <label for="below500">MUFTI</label><br>
                    </li>
                    <li class="nav-item my-1">
                        <input type="checkbox" id="below500" name="below-500">
                        <label for="below500">KILLER</label><br>
                    </li>
                    <li class="nav-item my-1">
                        <input type="checkbox" id="below500" name="below-500">
                        <label for="below500">Peter England</label><br>
                    </li>
                    <li class="nav-item my-1">
                        <input type="checkbox" id="below500" name="below-500">
                        <label for="below500">UCB</label><br>
                    </li>
                    <li class="nav-item my-1">
                        <input type="checkbox" id="below500" name="below-500">
                        <label for="below500">Roadstar</label><br>
                    </li>
                    <li class="nav-item my-1">
                        <input type="checkbox" id="below500" name="below-500">
                        <label for="below500">DENIM</label><br>
                    </li>

                </ul>
            </ul>
        </div>
        <hr>
        <!-- <div class="profile">
        <div class="img_side_fil">
            <img src="" alt="" style="width: 150px; height: 150px; border-radius: 2000px;">
        </div>
     </div> -->
    </div>
    </div>

    <div class="main">


        <div class="my-3">
            <h3 class="mx-3"><i class="fa fa-heart " style="color: coral;"></i> FAVORITE ITEMS</h3>
        </div>
        <div class="items" style="padding: 10px; max-width: 500px;">

        </div>
    </div>
    <div style="display:flex; justify-content:flex-end; padding: 10px;">
        <button class="btn btn-dark"
            style="border-radius: 200px; height: 50px ; width: 50px; position: fixed; top: 90%; float: right; z-index: 11;"
            id="filter_toggle_btn"><i class="fa fa-filter" id="filter_logo"></i></button>

    </div>
    {% endblock body %}





    {% block js %}

    <script>
        var fav = JSON.parse(localStorage.getItem('fav'));
        if (fav == null) {
            $(".items").html("<h3>No favorite items</h3>");
        }
        else {
            for (var i = 0; i < fav.length; i++) {
                $(".items").append(`
            <div class="item row rounded my-3"
            style="width: 100%; background:white; max-height: 200px; margin: 0px;">
            {% load static %}
            <div class="image col-4" style="max-height: 200px;">
                <img src=${fav[i].image} alt="" class="img-fluid">
            </div>
            <div class="desc col-8">

                <div class="cancle_btn d-flex" style="align-items: center; justify-content:space-between;">
                    <button class="btn btn-outline-primary my-1" style="font-size: small;">
                        move to cart
                    </button>
                    <i class="fa fa-times" style="color:red;"></i>
                </div>
                <div class="text">
                    <span>${fav[i].com}</span><br>
                    <span class="my-1">${fav[i].title} </span><br>
                    <div class="select d-flex">
                        <div class="" style="width: 100%; margin: 0px 0px 3px 0px ;">
                            <label for="Size">Size:</label>
                            <select name="size" id="1" style="outline: none; border: none;">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                            </select>
                        </div>
                        <div class="" style="width: 100%; margin: 0px 0px 3px 0px ;">
                            <button class="btn"
                                style="border: 1px solid rgb(243, 92, 92) ; color: rgb(243, 92, 92); padding: 0px 10px;">-</button>
                            <span class="display-8">1</span>
                            <button class="btn "
                                style="border: 1px solid rgb(243, 92, 92) ; color: rgb(243, 92, 92); padding: 0px 10px;">+</button>
                        </div>
                    </div>
                    <div class="price" style="font-weight: bolder; font-size: small;">
                  <span>$</span> <span style="font-size: larger;" id="price_{{pro.sno}}" >${fav[i].price}</span> <span class="mx-1"
                    style="font-weight: lighter; color: gray;"><del id="mrp_{{pro.sno}}" >${fav[i].mrp}</del></span>
                  <span style="color: green;" id="off_{{pro.sno}}"  >${fav[i].off}</span>
                </div>

                </div>
                <div style="position: relative; bottom: -8%;">
                    <i class="fa fa-check" style="color: green;"></i>
                    <span>deliver within <b>1</b> week</span>
                </div>
            </div>
        </div>
            `
                )
                console.log("for loop")
            };
        }



        if ($(window).width() <= 500) {
            $("#filter_toggle_btn").show()
        }
        else {
            $("#filter_toggle_btn").hide()
        }
        $("#filter_toggle_btn").click(function () {
            $("#filter_sidebar").toggle();
            if ($("#filter_logo").hasClass("fa-filter")) {
                $("#filter_logo").removeClass("fa-filter");
                $("#filter_logo").addClass("fa-times");
            }
            else {
                $("#filter_logo").removeClass("fa-times");
                $("#filter_logo").addClass("fa-filter");
            }
        })
    </script>


    {% endblock js %}